{% extends 'base.html.twig' %}
{% block body %}
    {% include '_nav.html.twig' %}
    <h1>Account list</h1>
    <table>
        <tr style="font-weight: bold">
            <td>UUID</td>
            <td>|</td>
            <td>E-mail</td>
            <td>|</td>
            <td>Name and surname</td>
            <td>|</td>
            <td>Prof. Pic</td>
            <td>|</td>
            <td>Roles</td>
            <td>|</td>
        </tr>
        {% for account in accounts if accounts %}
            <tr>
                <td>{{account.id}}</td>
                <td>|</td>
                <td>{{account.email}}</td>
                <td>|</td>
                <td>{{account}}</td>
                <td>|</td>
                <td>
                    {% if account.profileImage %}
                        <a href="{{asset('/img/uploads/profile-pics/' ~ account.profileImage)}}"
                           target="_blank">
                            View
                        </a>
                    {% else %}
                        <span>Not added</span>
                    {% endif %}
                </td>
                <td>|</td>
                <td>{{account.roles|join(',')}}</td>
                <td>|</td>
                <td><a href="{{path('gui__admin_account_edit', {'email': account.email})}}">Edit</a></td>
                <td>|</td>
                <td><a href="{{path('gui__admin_account_delete', {'email': account.email})}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{path('gui__admin_account_add')}}">Add account</a>
{% endblock %}
