{% extends 'admin/main.html.twig' %}

{% block panel %}
    <h1 class="panel__page-title">Dodaj artykuł</h1>
    {{form_start(form)}}
    {{form_widget(form.title)}}
    {{form_widget(form.content, {'attr':{'id': 'ckeditor'}})}}
    {{form_end(form)}}
{% endblock %}
{% block javascripts %}
    {{parent()}}
    {{encore_entry_script_tags('panel')}}
    {{encore_entry_script_tags('ckeditor')}}
{% endblock %}