{% extends 'admin/main.html.twig' %}
{% block panel %}
    <h1 class="panel__page-title">Kategorie</h1>
    <div class="panel__container">
        <div class="box__container">
            <section class="box category">
                <h2 class="box__title">Wszystkie kategorie</h2>
                {% if categories %}
                    <ul class="category__list">
                        {% for category in categories %}
                            <li class="category__element">
                                <span class="category__name">{{category.name}}</span>
                                <div class="category__details">
                                    <a class="category__link" href="">Pokaż artykuły</a>
                                    <a class="category__link" href="">Edytuj</a>
                                    <a class="category__link"
                                       href="{{path('gui__admin_categories_delete',{'name': category.name})}}">
                                        Usuń
                                    </a>
                                    <span class="category__amount" title="Ilość artykułów w tej kategorii">
                                    {{category.articles|length}}
                                </span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="category__no-categories">
                    <span class="category__no-categories-text">
                        Nie masz jeszcze żadnej kategorii, zacznij od dodania jej przyciskiem poniżej.
                    </span>
                    </div>
                {% endif %}
                <hr class="category__limiter">
                <a class="category__footing" href="">Dodaj nową kategorię</a>
            </section>
            <section class="box symfony-form">
                <h2 class="box__title">Dodaj nową kategorię</h2>
                {{form  (addCategoryForm, {
                    'attr': {
                        'class': 'form-inline',
                    }
                })}}
            </section>
            {% for warning in app.flashes('warning') %}
                <section class="box box--warning">{{warning}}</section>
            {% endfor %}
            {% for success in app.flashes('success') %}
                <section class="box box--success">{{success}}</section>
            {% endfor %}
        </div>


    </div>
{% endblock %}