{% extends 'base.html.twig' %}
{% block title %}{{config.title}}{% endblock %}
{% block body %}
    <div class="confirm__container">
        <main class="confirm">
            <h1 class="confirm__title">{% block confirmation_heading %}{{config.title}}{% endblock %}</h1>
            <p class="confirm__content">{% block confirmation_content %}{{config.content}}{% endblock %}</p>
            <div class="confirm__link-container">
                <a class="confirm__link confirm__link--back"
                   href="{% block confirmation_cancel_link %}{{config.cancelButtonLink}}{% endblock %}">
                    {% block confirmation_cancel_content %}{{config.cancelButtonText}}{% endblock %}
                </a>
                <a class="confirm__link confirm__link--proceed"
                   href="{% block confirmation_ok_link %}{{config.okButtonLink}}{% endblock %}">
                    {% block confirmation_ok_content %}{{config.okButtonText}}{% endblock %}
                </a>
            </div>
        </main>
    </div>
{% endblock %}
