{% extends 'base.html.twig' %}
{% block body %}
    <h1>Article list</h1>
    <table>
        <tr style="font-weight: bold">
            <td>UID</td>
            <td>|</td>
            <td>Name</td>
        </tr>
        {% for category in categories if categories %}
            <tr>
                <td>{{category.id}}</td>
                <td>|</td>
                <td>{{category}}</td>
                <td>|</td>
                <td><a href="{{path('gui__admin_category_edit', {'name': category})}}">Edit</a></td>
                <td>|</td>
                <td><a href="{{path('gui__admin_category_delete', {'name': category})}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{path('gui__admin_category_add')}}">Add category</a>
{% endblock %}
