{% extends 'base.html.twig' %}
{% block body %}
    <h1>Article list</h1>
    <table>
        <tr style="font-weight: bold">
            <td>UID</td>
            <td>|</td>
            <td>Title</td>
            <td>|</td>
            <td>Content</td>
            <td>|</td>
            <td>URL slug</td>
            <td>|</td>
            <td>Author(s)</td>
            <td>|</td>
            <td>Categories</td>
            <td>|</td>
        </tr>
        {% for article in articles if articles %}
            <tr>
                <td>{{article.id}}</td>
                <td>|</td>
                <td>{{article.title}}</td>
                <td>|</td>
                <td>
                    <span title="{{article.content|striptags}}">Text</span>
                    <span title="{{article.content|raw|nl2br}}">HTML</span></td>
                <td>|</td>
                <td>{{article.slug}}</td>
                <td>|</td>
                <td>{{article.authors|join(', ')}}</td>
                <td>|</td>
                <td>{{article.categories|join(', ')}}</td>
                <td>|</td>
                <td><a href="{{path('gui__article_show', {'slug': article.slug})}}">Show</a></td>
                <td>|</td>
                <td><a href="{{path('gui__admin_article_edit', {'slug': article.slug})}}">Edit</a></td>
                <td>|</td>
                <td><a href="{{path('gui__admin_article_delete', {'slug': article.slug})}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{path('gui__admin_article_add')}}">Add article</a>
{% endblock %}
