{% extends 'base.html.twig' %}
{% block body %}
    {{article.title}}
    <br/>
    {{article.content|raw|nl2br}}
    <a href="{{path('gui__admin_article_add')}}">Add new</a>
    <a href="{{path('gui__admin_article_edit', {'slug': article.slug})}}">Edit</a>
    <a href="{{path('gui__admin_article_delete', {'slug': article.slug})}}">Delete</a>
    <a href="{{path('gui__admin_account_list')}}">Back to article list</a>
{% endblock %}